<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui" 
      xmlns:ui="http://java.sun.com/jsf/facelets"
      >


    <f:view>
        <h:head> 

        </h:head>
        <h:body>

            <h:form>
<p:growl id="growl" showDetail="true" sticky="true" /> 
                <h:panelGrid columns="2" >  
                    <f:facet name="header">  
                    </f:facet>  

                    <h:outputLabel for="memo_id" value="Memo ID:" />  
                    <h:inputText id="memo_id" value="#{prepareCa.memoId}" label="memo_id"  />  
                    <h:outputLabel for="memo_name" value="Memo Name:" />  
                    <h:inputText id="memo_name" value="#{prepareCa.memoName}" label="memo_name"  /> 
                    <h:outputLabel for="memoCreationDateFromCal" value="Memo Creation Date From:" />  
                    <p:calendar value="#{prepareCa.memoCreationDateFrom}" id="memoCreationDateFromCal" /> 
                    <h:outputLabel for="memoCreationDateToCal" value="Memo Creation Date To:" />  
                    <p:calendar value="#{prepareCa.memoCreationDateTo}" id="memoCreationDateToCal" /> 





                    <f:facet name="footer">  
                        <p:commandButton type="submit" value="Search" action="#{prepareCa.findAvailableMemos()}" process="@form" update="@form"/>
                        <p:commandButton type="submit" value="Prepare" action="#{prepareCa.prepareMemos()}" process="@form" update="@form growl" />
                        

                    </f:facet>  
                </h:panelGrid>  


                <p:dataTable var="memo" value="#{prepareCa.memosList}">  
                    <p:column headerText="Check">  
                        <p:selectBooleanCheckbox value="#{prepareCa.checked[memo.memoId]}" />
                    </p:column>  
                    <p:column headerText="Memo Id">  
                        <h:outputText value="#{memo.memoId}" />  
                    </p:column>  

                    <p:column headerText="Memo Name">  
                        <h:outputText value="#{memo.memoName}" />  
                    </p:column>  

                    <p:column headerText="Memo Creation Date">  
                        <h:outputText value="#{memo.startDate}" />  
                    </p:column>  

                    <p:column headerText="Memo Description">  
                        <h:outputText value="#{memo.desc}" />  
                    </p:column>  

                    <p:column headerText="Review">
                        <p:commandLink value="Review" process="@form" update="@form" action="#{prepareCa.findpMemoPayments()}" oncomplete="Review.show();">
                            <f:param name="memoId" value="#{memo.memoId}" />

                        </p:commandLink>
                    </p:column>
                </p:dataTable>  


                <p:dialog id="Review" header="Review Memo" widgetVar="Review" modal="true" height="200" width="800">  


                    <p:dataTable var="memo2" value="#{prepareCa.memosList2}">  

                        <f:facet name="header">  
                            <h:outputText value="#{prepareCa.memoId}" />  
                        </f:facet> 

                        <p:column headerText="Scm Channel">  
                            <h:outputText value="#{memo2.channelName}" />  
                        </p:column>

                        <p:column headerText="SCM Code">  
                            <h:outputText value="#{memo2.dcmCode}" />  

                        </p:column>

                        <p:column headerText="SCM Name">  
                            <h:outputText value="#{memo2.dcmName}" />  

                        </p:column>

                        <p:column headerText="Payment">  
                            <h:outputText value="#{memo2.totalPayment}" />  

                        </p:column>


                        <p:commandButton value="ok"  onclick="Review.hide();" update="@form"/>
                    </p:dataTable>
                    Total Payment: <h:outputText value="#{prepareCa.totalOfAllPayments}" />  


                </p:dialog> 
            </h:form>

        </h:body>

    </f:view>
</html>
