<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui" 
      xmlns:ui="http://java.sun.com/jsf/facelets"
      >


    <f:view>
        <h:head> 

        </h:head>
        <h:body>

            <h:form>

                <h:panelGrid columns="2" title="Memo Info" >  

                    <h:outputLabel for="memo_id" value="Memo ID:" />  
                    <h:inputText id="memo_id" value="#{searchCa.memoId}" label="memo_id"  />  
                    <h:outputLabel for="memo_name" value="Memo Name:" />  
                    <h:inputText id="memo_name" value="#{searchCa.memoName}" label="memo_name"  /> 

                </h:panelGrid>  

                <h:panelGrid columns="2" title="SCM Info" >  
                   
                    <h:outputLabel for="scm_name" value="SCM Name:" />  
                    <h:inputText id="scm_name" value="#{searchCa.scmName}" label="scm_name"  /> 

                </h:panelGrid>  


                <h:panelGrid columns="2" title="Credit Advice Info" >  
                    <h:outputLabel for="credit_serial" value="Credit Serial:" />  
                    <h:inputText id="credit_serial" value="#{searchCa.creditSerial}" label="credit_serial"  />  
                    <h:outputLabel for="credit_name" value="Credit Name:" />  
                    <h:inputText id="credit_name" value="#{searchCa.creditName}" label="credit_name" /> 
                    <h:outputLabel for="credit_generation_date_from" value="Credit Generation Date From:" />  
                    <p:calendar value="#{searchCa.creationDateFrom}" id="credit_generation_date_from" /> 
                    <h:outputLabel for="credit_generation_date_to" value="Credit Generation Date From:" />  
                    <p:calendar value="#{searchCa.creationDateTo}" id="credit_generation_date_to" />
                    <h:outputLabel for="credit_amount" value="Credit Amount:" />  
                    <h:inputText id="credit_amount" value="#{searchCa.amount}" label="credit_amount" /> 
                    <h:outputLabel for="credit_status" value="Credit Status:" />  
                    <p:selectOneMenu id="credit_status" value="#{searchCa.status}">
                        <f:selectItem itemLabel="Select One" itemValue="#{0}" />
                        <f:selectItems value="#{searchCa.statusFileList}" var="status" itemLabel="#{status.statusName}" itemValue="#{status.statusId}"/>  
                    </p:selectOneMenu>
                    <h:outputLabel for="credit_batch_id" value="Credit Batch ID:" />  
                    <h:inputText id="credit_batch_id" value="#{searchCa.batchId}" label="credit_batch_id" /> 
                </h:panelGrid>  


                <h:commandButton type="submit" value="Search" action="#{searchCa.findGeneratedMemos()}"/>  
            </h:form>



            <h:form >


                <ui:repeat value="#{searchCa.files}"  var="file">

                    <f:facet name="header">

                    </f:facet>


                    <p:dataTable var="camMemos" value="#{file.camMemos}">

                        <f:facet name="header">  
                            File ID:  #{file.fileId} -

                            <p:commandButton value="Print"  actionListener="#{searchCa.generateDetailedReport}" ajax="false" process="@this" update="@this">
                                <f:param name="fileIdToPrint" value="#{file.fileId}" />
                                <p:fileDownload value="#{searchCa.detailedReport}"/>
                            </p:commandButton>
                        </f:facet>  

                        <p:column>
                        </p:column>
                        <p:column headerText="Memo Id">
                            #{camMemos.memoId} 
                        </p:column>
                        <p:column headerText="Memo Name">
                            #{camMemos.memoName}
                        </p:column>
                        <p:column headerText="Memo Creation Date">
                            #{camMemos.startDate}
                        </p:column>

              
                    </p:dataTable>

                </ui:repeat>


                <p:dialog id="Review" header="Review Dialog" widgetVar="Review" modal="true" height="200" width="800">  


                    <p:dataTable var="CA" value="#{searchCa.creditDetailsList}">  

                        <p:column headerText="">  
                            <p:selectBooleanCheckbox value="#{searchCa.checked[CA.caId]}" />
                        </p:column>
                        <p:column headerText="CREDIT ID">  
                            <h:outputText value="#{CA.caId}" />  

                        </p:column>

                        <p:column headerText="SCM Code">  
                            <h:outputText value="#{CA.dcmCode}" />  
                        </p:column>

                        <p:column headerText="SCM NAME">  
                            <h:outputText value="#{CA.scmName}" />  
                        </p:column>



                        <p:column headerText="CREDIT SERIAL">  
                            <h:outputText value="#{CA.creditSerial}" />  

                        </p:column>

                        <p:column headerText="CREDIT GENERATION DATE ">  
                            <h:outputText value="#{CA.fileTraceDate}" />  

                        </p:column>

                        <p:column headerText="AMOUNT">  
                            <h:outputText value="#{CA.creditAmount}" />  

                        </p:column>

                        <p:column headerText="STATUS">  
                            <h:outputText value="#{CA.statusName}" />  

                        </p:column>


                    </p:dataTable>


                    <p:commandButton value="Print"  actionListener="#{searchCa.generateCAReport}" ajax="false" process="@form" update="@form">
                        <p:fileDownload value="#{searchCa.creditAdviceReport}"/>
                    </p:commandButton>


                </p:dialog>



            </h:form>


        </h:body>

    </f:view>
</html>
