<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui" 
      xmlns:ui="http://java.sun.com/jsf/facelets"
      >


    <f:view>
        <h:head> 

        </h:head>
        <h:body>




            <p:tabView id="tabView">  

                <p:tab id="tab1" title="Generate Sheet With ID">  
                    <h:form >
                        <p:commandButton value="Generate Sheet With ID"  actionListener="#{updateCa.generateTemplate}" ajax="false">
                            <p:fileDownload value="#{updateCa.template}"/>
                        </p:commandButton>
                    </h:form>
                    <h:form enctype="multipart/form-data">

                        <p:messages showDetail="true"/>

                        <p:fileUpload value="#{updateCa.file}" mode="simple"/>

                        <p:commandButton value="Submit" ajax="false"
                                         actionListener="#{updateCa.uploadWithId()}"/>

                    </h:form>
                </p:tab>  

                <p:tab id="tab2" title="Generate Sheet With Serial">  
                    <h:form >
                        <p:commandButton value="Generate Sheet With Serial"  actionListener="#{updateCa.generateTemplateWithSerials}" ajax="false" >
                            <p:fileDownload value="#{updateCa.templateWithSerial}"/>
                        </p:commandButton>
                    </h:form>

                    <h:form enctype="multipart/form-data">

                        <p:messages showDetail="true"/>

                        <p:fileUpload value="#{updateCa.file}" mode="simple"/>

                        <p:commandButton value="Submit" ajax="false"
                                         actionListener="#{updateCa.uploadWithSerial()}"/>

                    </h:form>
                </p:tab> 

            </p:tabView>  





            <p:dataTable var="row" value="#{updateCa.report}" rendered="#{updateCa.report!=null}">  
                <p:column headerText="Row Num">  
                    <h:outputText value="#{row.rowNum}" />  
                </p:column>  

                <p:column headerText="Cell Name">  
                    <h:outputText value="#{row.cellName}" />  
                </p:column>  

                <p:column headerText="Error Message">  
                    <h:outputText value="#{row.errorMsg}" />  
                </p:column>  


            </p:dataTable>  










        </h:body>

    </f:view>
</html>
