.Main {
	BACKGROUND-COLOR: #999999
}
.TableTextColumnEven {
	FONT-SIZE: x-small; COLOR: black; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #f5f5f5
}
.TableTextColumnOdd {
	FONT-SIZE: x-small; COLOR: black; FONT-FAMILY: Verdana;
BACKGROUND-COLOR: white
}
.TableTextNote {
	FONT-SIZE: x-small; COLOR: black; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #f5f5f5
}
.TableHeader {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; COLOR: #a7a7a7; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #dee7ef
}
.TableTitle {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; COLOR: white; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #4682b4
}
.TableOrdinaryText {
	FONT-SIZE: x-small; COLOR: black; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #f5f5f5
}
.GeneralListing {
	FONT-SIZE: x-small; COLOR: black; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #f7f7f7
}
.txt {
	FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: Tahoma
}
.smalltxt {
	FONT-SIZE: 9px; COLOR: black; FONT-FAMILY: Tahoma
}
.largetxt {
	FONT-SIZE: 15px; COLOR: black; FONT-FAMILY: Tahoma
}
.largertxt {
	FONT-SIZE: 16px; COLOR: black; FONT-FAMILY: Tahoma
}
.input {
	BORDER-RIGHT: #7f9db9 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #7f9db9 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 12px; BACKGROUND: #ffffff; PADDING-BOTTOM: 1px; BORDER-LEFT: #7f9db9 1px solid; WIDTH: 110px; PADDING-TOP: 1px; BORDER-BOTTOM: #7f9db9 1px solid; HEIGHT: 21px
}
.inputNext {
	BORDER-RIGHT: #7f9db9 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #7f9db9 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 12px; BACKGROUND: #ffffff; PADDING-BOTTOM: 1px; BORDER-LEFT: #7f9db9 1px solid; WIDTH: 110px; COLOR: red; PADDING-TOP: 1px; BORDER-BOTTOM: #7f9db9 1px solid; FONT-FAMILY: Tahoma; HEIGHT: 21px
}
.input2 {
	BORDER-RIGHT: #7f9db9 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #7f9db9 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 12px; BACKGROUND: #ffffff; PADDING-BOTTOM: 1px; BORDER-LEFT: #7f9db9 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #7f9db9 1px solid; FONT-FAMILY: Tahoma; HEIGHT: 21px
}
.input3 {
	BORDER-RIGHT: #7f9db9 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #7f9db9 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 12px; BACKGROUND: #ffffff; PADDING-BOTTOM: 1px; BORDER-LEFT: #7f9db9 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #7f9db9 1px solid; FONT-FAMILY: Tahoma
}
.inputLg {
	BORDER-RIGHT: #7f9db9 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #7f9db9 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 12px; BACKGROUND: #ffffff; PADDING-BOTTOM: 1px; BORDER-LEFT: #7f9db9 1px solid; WIDTH: 330px; PADDING-TOP: 1px; BORDER-BOTTOM: #7f9db9 1px solid; HEIGHT: 21px
}
.inputsearch {
	BORDER-RIGHT: #7f9db9 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #7f9db9 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 12px; BACKGROUND: #ffffff; PADDING-BOTTOM: 1px; BORDER-LEFT: #7f9db9 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #7f9db9 1px solid; HEIGHT: 21px
}
.logintxt {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #7f9db9; FONT-FAMILY: verdana
}
.hilight {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #006559; FONT-FAMILY: tahoma
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #006559; FONT-FAMILY: verdana
}
.headline1 {
	FONT-SIZE: 15px; COLOR: #ffffff; FONT-FAMILY: Trebuchet MS, Verdana, Arial, Helvetica
}
.normal {
	FONT-SIZE: 10pt; FONT-FAMILY: Tahoma, Arial, Helvetica, Verdana
.error {
	FONT-SIZE: 8pt; COLOR: #ff0000; FONT-FAMILY: Tahoma, Arial, Helvetica, Verdana
}
}
.button {
	FONT-SIZE: 11px; BACKGROUND: #dee7ef; BORDER-LEFT: #ffffff 2px solid; COLOR: #000000; FONT-FAMILY: Tahoma, Arial, Helvetica, Verdana
}
.black {
	COLOR: #000000
}
.blackonwhite {
	BACKGROUND: #ffffff
}
.whiteondarkgrey {
	BACKGROUND: #000000; COLOR: #ffffff
}
.whiteongrey {
	BACKGROUND: #d8d8d8; COLOR: #ffffff
}
.selecthighlighted {
	BACKGROUND: #d8d8d8
}
.darkgreyonlightgrey {
	BACKGROUND: #e8e8e8; COLOR: #666666
}
.blackonoffwhite {
	BACKGROUND: #f5f5f5; COLOR: #000000
}
.warning {
	COLOR: red
}
.dayNormal {
	FONT-SIZE: 8pt; BACKGROUND: #e8e8e8; FONT-FAMILY: Tahoma, Arial, Helvetica, Verdana
}
.dayWeekend {
	FONT-SIZE: 8pt; BACKGROUND: #d0d0d0; FONT-FAMILY: Tahoma, Arial, Helvetica, Verdana
}
.daySelected {
	FONT-SIZE: 8pt; BACKGROUND: #ffa83e; FONT-FAMILY: Tahoma, Arial, Helvetica, Verdana
}
a:link.dayNormal {
	COLOR: #000000
}
a:visited.dayNormal {
	COLOR: #000000
}
a:hover.dayNormal {
	COLOR: #ff3333
}
a:link.dayWeekend {
	COLOR: #000000
}
a:visited.dayWeekend {
	COLOR: #000000
}
a:hover.dayWeekend {
	COLOR: #ff3333
}
a:link.daySelected {
	COLOR: #000000
}
a:visited.daySelected {
	COLOR: #000000
}
a:hover.daySelected {
	COLOR: #ff3333
}
a:link.buttons {
	COLOR: #ffffff; TEXT-DECORATION: none
}
a:visited.buttons {
	COLOR: #ffffff; TEXT-DECORATION: none
}
a:hover.buttons {
	COLOR: #dddddd; TEXT-DECORATION: none
}
a:link.orange {
	COLOR: #000000; TEXT-DECORATION: none
}
a:visited.orange {
	COLOR: #000000; TEXT-DECORATION: none
}
a:hover.orange {
	COLOR: #ff9900; TEXT-DECORATION: none
}
a:link.menu {
	COLOR: #000000; TEXT-DECORATION: none
}
a:visited.menu {
	COLOR: #000000; TEXT-DECORATION: none
}
a:hover.menu {
	COLOR: #ff0000; TEXT-DECORATION: none
}
a:link.blue {
	COLOR: #000000; TEXT-DECORATION: none
}
a:visited.blue {
	COLOR: #000000; TEXT-DECORATION: none
}
a:hover.blue {
	COLOR: #666666; TEXT-DECORATION: none
}
a:link.darkblue {
	COLOR: #000000; TEXT-DECORATION: none
}
a:visited.darkblue {
	COLOR: #000000; TEXT-DECORATION: none
}
a:hover.darkblue {
	COLOR: #cf9966; TEXT-DECORATION: none
}
a:link.black {
	COLOR: #000000; TEXT-DECORATION: underline
}
a:visited.black {
	COLOR: #000000; TEXT-DECORATION: underline
}
a:hover.black {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
a:link.deepred {
	COLOR: #dd0000; TEXT-DECORATION: underline
}
a:visited.deepred {
	COLOR: #dd0000; TEXT-DECORATION: underline
}
a:hover.deepred {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
a:link.white {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
a:visited.white {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
a:hover.white {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
a:link.white2 {
	COLOR: #ffffff; TEXT-DECORATION: none
}
a:visited.white2 {
	COLOR: #ffffff; TEXT-DECORATION: none
}
a:hover.white2 {
	COLOR: #bed2e3; TEXT-DECORATION: none
}
a:link.appheading {
	COLOR: #e8e8e8; TEXT-DECORATION: none
}
a:visited.appheading {
	COLOR: #e8e8e8; TEXT-DECORATION: none
}
a:hover.appheading {
	COLOR: #e8e8e8; TEXT-DECORATION: none
}
a:link.appitem {
	COLOR: #e8e8e8; TEXT-DECORATION: none
}
a:visited.appitem {
	COLOR: #e8e8e8; TEXT-DECORATION: none
}
a:hover.appitem {
	COLOR: #cccccc; TEXT-DECORATION: none
}
.imgbackground1 {
	BACKGROUND-COLOR: #808080
}
.gray1 {
	BACKGROUND-COLOR: #dee7ef
}
.gray2 {
	BACKGROUND-COLOR: #e8e8e8
}
.gray3 {
	BACKGROUND-COLOR: #f9f9f9
}
.gray4 {
	BACKGROUND-COLOR: #3070a8
}
.menus {
	FONT-SIZE: 11px; CURSOR: hand; FONT-FAMILY: Tahoma, Arial, Helvetica
}
.gray5 {
	BACKGROUND-COLOR: #f5f5f5
}
.gray5hand {
	CURSOR: hand; BACKGROUND-COLOR: #f9f9f9
}
.searchbox {
	border:1px solid #666666; padding:2px; FONT-SIZE: 11px; BACKGROUND: #ffffff url('media/field_bg.gif'); WIDTH: 93px; LINE-HEIGHT: 12px; FONT-FAMILY: Tahoma; HEIGHT: 18px
}
.gray6 {
	BACKGROUND-COLOR: #bed2e3
}
.gray7 {
	BACKGROUND-COLOR: #e0e0e0
}
.gray7hand {
	CURSOR: hand; BACKGROUND-COLOR: #e0e0e0
}
TD.calendar_mouseover {
	BORDER-RIGHT: #ff9900 1px solid; BORDER-TOP: #ff9900 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #ff9900 1px solid; COLOR: #000000; BORDER-BOTTOM: #ff9900 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica
}
TD.calendar_mo_noevent {
	BORDER-RIGHT: #ff9900 1px solid; BORDER-TOP: #ff9900 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #ff9900 1px solid; CURSOR: hand; COLOR: #000000; BORDER-BOTTOM: #ff9900 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica
}
TD.calendar_normal {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #ffffff 1px solid; COLOR: #000000; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica
}
TD.calendar_n_noevent {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #ffffff 1px solid; CURSOR: hand; COLOR: #000000; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica
}
TD.calendar_n_nohair {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #ffffff 1px solid; CURSOR: default; COLOR: #000000; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica
}
TD.calendar_d_normal {
	BORDER-RIGHT: #e8e8e8 1px solid; BORDER-TOP: #e8e8e8 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #e8e8e8 1px solid; COLOR: #000000; BORDER-BOTTOM: #e8e8e8 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica
}
TD.calendar_d_noevent {
	BORDER-RIGHT: #e8e8e8 1px solid; BORDER-TOP: #e8e8e8 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #e8e8e8 1px solid; CURSOR: hand; COLOR: #000000; BORDER-BOTTOM: #e8e8e8 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica
}
TD.calendar_d_mo_noevent {
	BORDER-RIGHT: #ff9900 1px solid; BORDER-TOP: #ff9900 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #ff9900 1px solid; CURSOR: hand; COLOR: #000000; BORDER-BOTTOM: #ff9900 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica
}
TD.calendar_p_noevent {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 11px; BORDER-BOTTOM-WIDTH: 1px; CURSOR: hand; COLOR: #000000; FONT-FAMILY: Tahoma, Arial, Helvetica; BORDER-RIGHT-WIDTH: 1px
}
TD.cellgray {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 11px; BORDER-BOTTOM-WIDTH: 1px; CURSOR: hand; FONT-FAMILY: Tahoma, Arial, Helvetica; BACKGROUND-COLOR: #f9f9f9; BORDER-RIGHT-WIDTH: 1px
}
TD.over {
	FONT-SIZE: 11px; COLOR: #000000; BORDER-BOTTOM: #ff9900 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica

.smallerNoHair {
	FONT-SIZE: 8pt; CURSOR: default; FONT-FAMILY: Tahoma, Arial, Helvetica, Verdana
}
.cursorHand {
	CURSOR: hand
}
.TableNoHair {
	CURSOR: default
}
BODY {
	SCROLLBAR-FACE-COLOR: #DEE7EF; SCROLLBAR-HIGHLIGHT-COLOR: #aaaaaa; SCROLLBAR-SHADOW-COLOR: #DEE7EF; SCROLLBAR-3DLIGHT-COLOR: #DEE7EF; SCROLLBAR-ARROW-COLOR: #ffffff; SCROLLBAR-TRACK-COLOR: #DEE7EF; SCROLLBAR-DARKSHADOW-COLOR: #000000
}
.gray8 {
	BACKGROUND-COLOR: #666666
}
}