.Main {
	BACKGROUND-COLOR: #999999
}
.TableTextColumn {
	FONT-SIZE: x-small; COLOR: black; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #f5f5f5
}
.TableTextNote {
	FONT-SIZE: x-small; COLOR: black; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #f5f5f5
}
.TableHeader {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; COLOR: #a7a7a7; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #dee7ef
}
.TableTitle {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; COLOR: white; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #4682b4
}
.TableOrdinaryText {
	FONT-SIZE: x-small; COLOR: black; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #f5f5f5
}
.LockedRow {
	FONT-SIZE: x-small; COLOR: red; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.GeneralListing {
	FONT-SIZE: x-small; COLOR: black; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #f7f7f7
}
.txt {
	FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: Tahoma
}
.smalltxt {
	FONT-SIZE: 9px; COLOR: black; FONT-FAMILY: Tahoma
}
.largetxt {
	FONT-SIZE: 15px; COLOR: black; FONT-FAMILY: Tahoma
}
.largertxt {
	FONT-SIZE: 16px; COLOR: black; FONT-FAMILY: Tahoma
}
.input {
	BORDER-RIGHT: #7f9db9 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #7f9db9 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 12px; BACKGROUND: #ffffff; PADDING-BOTTOM: 1px; BORDER-LEFT: #7f9db9 1px solid; WIDTH: 110px; PADDING-TOP: 1px; BORDER-BOTTOM: #7f9db9 1px solid; HEIGHT: 21px
}
.inputNext {
	BORDER-RIGHT: #7f9db9 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #7f9db9 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 12px; BACKGROUND: #ffffff; PADDING-BOTTOM: 1px; BORDER-LEFT: #7f9db9 1px solid; WIDTH: 110px; COLOR: red; PADDING-TOP: 1px; BORDER-BOTTOM: #7f9db9 1px solid; FONT-FAMILY: Tahoma; HEIGHT: 21px
}
.input2 {
	BORDER-RIGHT: #7f9db9 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #7f9db9 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 12px; BACKGROUND: #ffffff; PADDING-BOTTOM: 1px; BORDER-LEFT: #7f9db9 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #7f9db9 1px solid; FONT-FAMILY: Tahoma; HEIGHT: 21px
}
.input3 {
	BORDER-RIGHT: #7f9db9 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #7f9db9 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 12px; BACKGROUND: #ffffff; PADDING-BOTTOM: 1px; BORDER-LEFT: #7f9db9 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #7f9db9 1px solid; FONT-FAMILY: Tahoma
}
.inputLg {
	BORDER-RIGHT: #7f9db9 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #7f9db9 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 12px; BACKGROUND: #ffffff; PADDING-BOTTOM: 1px; BORDER-LEFT: #7f9db9 1px solid; WIDTH: 330px; PADDING-TOP: 1px; BORDER-BOTTOM: #7f9db9 1px solid; HEIGHT: 21px
}
.inputsearch {
	BORDER-RIGHT: #7f9db9 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #7f9db9 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 12px; BACKGROUND: #ffffff; PADDING-BOTTOM: 1px; BORDER-LEFT: #7f9db9 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #7f9db9 1px solid; HEIGHT: 21px
}
.logintxt {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #7f9db9; FONT-FAMILY: verdana
}
.hilight {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #006559; FONT-FAMILY: tahoma
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #006559; FONT-FAMILY: verdana
}
.headline1 {
	FONT-SIZE: 15px; COLOR: #ffffff; FONT-FAMILY: Trebuchet MS, Verdana, Arial, Helvetica
}
.normal {
	FONT-SIZE: 10pt; FONT-FAMILY: Tahoma, Arial, Helvetica, Verdana
.error {
	FONT-SIZE: 8pt; COLOR: #ff0000; FONT-FAMILY: Tahoma, Arial, Helvetica, Verdana
}
}
.button {
	FONT-SIZE: 11px; BACKGROUND: #dee7ef; BORDER-LEFT: #ffffff 2px solid; COLOR: #000000; FONT-FAMILY: Tahoma, Arial, Helvetica, Verdana
}
.file {
	FONT-SIZE: 11px; BACKGROUND: #dee7ef; BORDER-LEFT: #dee7ef 2px solid; COLOR: #dee7ef; FONT-FAMILY: Tahoma, Arial, Helvetica, Verdana
}
.black {
	COLOR: #000000
}
.blackonwhite {
	BACKGROUND: #ffffff
}
.whiteondarkgrey {
	BACKGROUND: #000000; COLOR: #ffffff
}
.whiteongrey {
	BACKGROUND: #d8d8d8; COLOR: #ffffff
}
.selecthighlighted {
	BACKGROUND: #d8d8d8
}
.darkgreyonlightgrey {
	BACKGROUND: #e8e8e8; COLOR: #666666
}
.blackonoffwhite {
	BACKGROUND: #f5f5f5; COLOR: #000000
}
.warning {
	COLOR: red
}
.dayNormal {
	FONT-SIZE: 8pt; BACKGROUND: #e8e8e8; FONT-FAMILY: Tahoma, Arial, Helvetica, Verdana
}
.dayWeekend {
	FONT-SIZE: 8pt; BACKGROUND: #d0d0d0; FONT-FAMILY: Tahoma, Arial, Helvetica, Verdana
}
.daySelected {
	FONT-SIZE: 8pt; BACKGROUND: #ffa83e; FONT-FAMILY: Tahoma, Arial, Helvetica, Verdana
}
A.dayNormal:link {
	COLOR: #000000
}
A.dayNormal:visited {
	COLOR: #000000
}
A.dayNormal:hover {
	COLOR: #ff3333
}
A.dayWeekend:link {
	COLOR: #000000
}
A.dayWeekend:visited {
	COLOR: #000000
}
A.dayWeekend:hover {
	COLOR: #ff3333
}
A.daySelected:link {
	COLOR: #000000
}
A.daySelected:visited {
	COLOR: #000000
}
A.daySelected:hover {
	COLOR: #ff3333
}
A.buttons:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.buttons:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.buttons:hover {
	COLOR: #dddddd; TEXT-DECORATION: none
}
A.orange:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.orange:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.orange:hover {
	COLOR: #ff9900; TEXT-DECORATION: none
}
A.menu:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.menu:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.menu:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.blue:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.blue:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.blue:hover {
	COLOR: #666666; TEXT-DECORATION: none
}
A.darkblue:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.darkblue:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.darkblue:hover {
	COLOR: #cf9966; TEXT-DECORATION: none
}
A.black:link {
	COLOR: #000000; TEXT-DECORATION: underline
}
A.black:visited {
	COLOR: #000000; TEXT-DECORATION: underline
}
A.black:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.deepred:link {
	COLOR: #dd0000; TEXT-DECORATION: underline
}
A.deepred:visited {
	COLOR: #dd0000; TEXT-DECORATION: underline
}
A.deepred:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.white:link {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A.white:visited {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A.white:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A.white2:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.white2:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.white2:hover {
	COLOR: #bed2e3; TEXT-DECORATION: none
}
A.appheading:link {
	COLOR: #e8e8e8; TEXT-DECORATION: none
}
A.appheading:visited {
	COLOR: #e8e8e8; TEXT-DECORATION: none
}
A.appheading:hover {
	COLOR: #e8e8e8; TEXT-DECORATION: none
}
A.appitem:link {
	COLOR: #e8e8e8; TEXT-DECORATION: none
}
A.appitem:visited {
	COLOR: #e8e8e8; TEXT-DECORATION: none
}
A.appitem:hover {
	COLOR: #cccccc; TEXT-DECORATION: none
}
.imgbackground1 {
	BACKGROUND-COLOR: #808080
}
.gray1 {
	BACKGROUND-COLOR: #dee7ef
}
.gray2 {
	BACKGROUND-COLOR: #e8e8e8
}
.gray3 {
	BACKGROUND-COLOR: #f9f9f9
}
.gray4 {
	BACKGROUND-COLOR: #3070a8
}
.menus {
	FONT-SIZE: 11px; CURSOR: hand; FONT-FAMILY: Tahoma, Arial, Helvetica
}
.gray5 {
	BACKGROUND-COLOR: #f5f5f5
}
.gray5hand {
	CURSOR: hand; BACKGROUND-COLOR: #f9f9f9
}
.searchbox {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #666666 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 11px; BACKGROUND: url(media/field_bg.gif) #ffffff; PADDING-BOTTOM: 2px; BORDER-LEFT: #666666 1px solid; WIDTH: 93px; LINE-HEIGHT: 12px; PADDING-TOP: 2px; BORDER-BOTTOM: #666666 1px solid; FONT-FAMILY: Tahoma; HEIGHT: 18px
}
.gray6 {
	BACKGROUND-COLOR: #bed2e3
}
.gray7 {
	BACKGROUND-COLOR: #e0e0e0
}
.gray7hand {
	CURSOR: hand; BACKGROUND-COLOR: #e0e0e0
}
TD.calendar_mouseover {
	BORDER-RIGHT: #ff9900 1px solid; BORDER-TOP: #ff9900 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #ff9900 1px solid; COLOR: #000000; BORDER-BOTTOM: #ff9900 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica
}
TD.calendar_mo_noevent {
	BORDER-RIGHT: #ff9900 1px solid; BORDER-TOP: #ff9900 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #ff9900 1px solid; CURSOR: hand; COLOR: #000000; BORDER-BOTTOM: #ff9900 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica
}
TD.calendar_normal {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #ffffff 1px solid; COLOR: #000000; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica
}
TD.calendar_n_noevent {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #ffffff 1px solid; CURSOR: hand; COLOR: #000000; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica
}
TD.calendar_n_nohair {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #ffffff 1px solid; CURSOR: default; COLOR: #000000; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica
}
TD.calendar_d_normal {
	BORDER-RIGHT: #e8e8e8 1px solid; BORDER-TOP: #e8e8e8 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #e8e8e8 1px solid; COLOR: #000000; BORDER-BOTTOM: #e8e8e8 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica
}
TD.calendar_d_noevent {
	BORDER-RIGHT: #e8e8e8 1px solid; BORDER-TOP: #e8e8e8 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #e8e8e8 1px solid; CURSOR: hand; COLOR: #000000; BORDER-BOTTOM: #e8e8e8 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica
}
TD.calendar_d_mo_noevent {
	BORDER-RIGHT: #ff9900 1px solid; BORDER-TOP: #ff9900 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #ff9900 1px solid; CURSOR: hand; COLOR: #000000; BORDER-BOTTOM: #ff9900 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica
}
TD.calendar_p_noevent {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 11px; BORDER-BOTTOM-WIDTH: 1px; CURSOR: hand; COLOR: #000000; FONT-FAMILY: Tahoma, Arial, Helvetica; BORDER-RIGHT-WIDTH: 1px
}
TD.cellgray {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 11px; BORDER-BOTTOM-WIDTH: 1px; CURSOR: hand; FONT-FAMILY: Tahoma, Arial, Helvetica; BACKGROUND-COLOR: #f9f9f9; BORDER-RIGHT-WIDTH: 1px
}
TD.over {
	FONT-SIZE: 11px; COLOR: #000000; BORDER-BOTTOM: #ff9900 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica

.smallerNoHair {
	FONT-SIZE: 8pt; CURSOR: default; FONT-FAMILY: Tahoma, Arial, Helvetica, Verdana
}
.cursorHand {
	CURSOR: hand
}
.TableNoHair {
	CURSOR: default
}
BODY {
	SCROLLBAR-FACE-COLOR: #DEE7EF; SCROLLBAR-HIGHLIGHT-COLOR: #aaaaaa; SCROLLBAR-SHADOW-COLOR: #DEE7EF; SCROLLBAR-3DLIGHT-COLOR: #DEE7EF; SCROLLBAR-ARROW-COLOR: #ffffff; SCROLLBAR-TRACK-COLOR: #DEE7EF; SCROLLBAR-DARKSHADOW-COLOR: #000000
}
.gray8 {
	BACKGROUND-COLOR: #666666
}
}
