<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui" 
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>

    </h:head>
    <h:body>
        <h:form>

            <h:panelGrid columns="2" >  
                <f:facet name="header">  
                </f:facet>  
                <h:outputLabel for="pos_code" value="Pos Code:" />  
                <h:inputText id="pos_code" value="#{wrongEmail.posCode}" label="pos_code"/>  
                <h:outputLabel for="Date" value="Date:" />  
                <p:calendar value="#{wrongEmail.date}" id="Date" /> 
                <h:outputLabel for="DateTo" value="DateTo:" />  
                <p:calendar value="#{wrongEmail.dateTo}" id="DateTo" /> 
                <f:facet name="footer">  
                    <h:commandButton type="submit" value="Search" action="#{wrongEmail.findWrongEmails()}"/>
                </f:facet>  
            </h:panelGrid>  


            <p:dataTable var="wrongEmails" value="#{wrongEmail.emailList}">  

                <p:column headerText="">  
                    <p:selectBooleanCheckbox value="#{wrongEmail.checked[wrongEmails.id]}" disabled="#{wrongEmails.statusId==1||wrongEmails.statusId==2||wrongEmails.statusId==3||wrongEmails.statusId==19}" />
                </p:column>   
                <p:column headerText="Pos Code">  
                    <h:outputText value="#{wrongEmails.posCode}" />  
                </p:column>  

                <p:column headerText="Date">  
                    <h:outputText value="#{wrongEmails.creationDate}" />  
                </p:column>  

                <p:column headerText="sender Email Address">  
                    <h:outputText value="#{wrongEmails.senderEmailAddress}" />  
                </p:column>  

                <p:column headerText="Sender Name">  
                    <h:outputText value="#{wrongEmails.senderName}" />  
                </p:column>

                <p:column headerText="Subject">  
                    <h:outputText value="#{wrongEmails.subject}" />  
                </p:column>

                <p:column headerText="Status">  
                    <h:outputText value="#{wrongEmails.statusName}" />  
                </p:column>    

            </p:dataTable> 
            
            <h:panelGrid columns="2" >  
                <f:facet name="header">  
                    <h:commandButton type="submit" value="Delete" action="#{wrongEmail.reviewTrue()}"/>
                    <p:messages></p:messages>
                </f:facet>  

                <f:facet name="footer">  
                    <p:inputTextarea id="review" value="#{wrongEmail.reason}" rendered="#{wrongEmail.review==true}" rows="10" cols="50" required="true" requiredMessage="Please Enter a reason" />
                    <p:commandButton type="submit" value="submit" rendered="#{wrongEmail.review==true}" action="#{wrongEmail.archiveAndDelete()}" process="@form" update="@form"/>                      
                </f:facet>  
                    
                    
            </h:panelGrid>  

        </h:form>
    </h:body>
</html>

