<LINK REL=STYLESHEET TYPE="text/css" HREF="/SDS/resources/css/Template1.css">
<script type="text/javascript">
function Toggle(item) {
obj=document.getElementById(item);
if (obj!=null) {
visible=(obj.style.display!="none")
key=document.getElementById("x" + item);
if (visible) {
obj.style.display="none";
key.innerHTML="<img src='/SDS/resources/img/plus.gif'>";
} else {
obj.style.display="block";
key.innerHTML="<img src='/SDS/resources/img/minus.gif'>";
}}}
</script>
<h3>
Import Results of File : C:\Documents and Settings\SAND\Desktop\cr2.xls
</h3>
<h4>
Summary of Imported Items
</h4>
<TABLE style="BORDER-COLLAPSE: collapse" cellSpacing=2 cellPadding=1 width="100%" border=1>
<TR class=TableHeader>
<td size =20% nowrap align=left>Sheet ID</td>
<td size= 10% nowrap align=left>Row Number</td>
<td size =10% nowrap align=left>Contracts Count</td>
<td size= 10% nowrap align=left>Status</td>
<td size= 50% nowrap align=left>Warning</td>
</tr>
</TABLE>
<H4>Summary of Import Errors </H4>
<TABLE style="BORDER-COLLAPSE: collapse" cellSpacing=2 cellPadding=1 width="100%" border=1>
<TR class=TableHeader>
<td nowrap align=left>Error Type</td>
<td nowrap align=left>Error Row Number</td>
<td nowrap align=left>Error Details</td>
</tr>
 <TR class=TableTextNote>
  <TD class=TableTextNote align=left>
CONTRACT
</td>
  <TD class=TableTextNote align=left>
4
</td>
  <TD class=TableTextNote align=left>
 Not Valid CONTRACT DIAL NO
</td>
</tr>
 <TR class=TableTextNote>
  <TD class=TableTextNote align=left>
CONTRACT
</td>
  <TD class=TableTextNote align=left>
5
</td>
  <TD class=TableTextNote align=left>
 Not Valid CONTRACT DIAL NO
</td>
</tr>
 <TR class=TableTextNote>
  <TD class=TableTextNote align=left>
CONTRACT
</td>
  <TD class=TableTextNote align=left>
6
</td>
  <TD class=TableTextNote align=left>
 Not Valid CONTRACT DIAL NO
</td>
</tr>
 <TR class=TableTextNote>
  <TD class=TableTextNote align=left>
CONTRACT
</td>
  <TD class=TableTextNote align=left>
7
</td>
  <TD class=TableTextNote align=left>
 Not Valid CONTRACT DIAL NO
</td>
</tr>
 <TR class=TableTextNote>
  <TD class=TableTextNote align=left>
CONTRACT
</td>
  <TD class=TableTextNote align=left>
8
</td>
  <TD class=TableTextNote align=left>
 Not Valid CONTRACT DIAL NO
</td>
</tr>
 <TR class=TableTextNote>
  <TD class=TableTextNote align=left>
CONTRACT
</td>
  <TD class=TableTextNote align=left>
9
</td>
  <TD class=TableTextNote align=left>
 Not Valid CONTRACT DIAL NO
</td>
</tr>
 <TR class=TableTextNote>
  <TD class=TableTextNote align=left>
CONTRACT
</td>
  <TD class=TableTextNote align=left>
10
</td>
  <TD class=TableTextNote align=left>
 Not Valid CONTRACT DIAL NO
</td>
</tr>
 <TR class=TableTextNote>
  <TD class=TableTextNote align=left>
CONTRACT
</td>
  <TD class=TableTextNote align=left>
11
</td>
  <TD class=TableTextNote align=left>
 Not Valid CONTRACT DIAL NO
</td>
</tr>
 <TR class=TableTextNote>
  <TD class=TableTextNote align=left>
CONTRACT
</td>
  <TD class=TableTextNote align=left>
12
</td>
  <TD class=TableTextNote align=left>
 Not Valid CONTRACT DIAL NO
</td>
</tr>
 <TR class=TableTextNote>
  <TD class=TableTextNote align=left>
CONTRACT
</td>
  <TD class=TableTextNote align=left>
13
</td>
  <TD class=TableTextNote align=left>
 Not Valid CONTRACT DIAL NO
</td>
</tr>
 <TR class=TableTextNote>
  <TD class=TableTextNote align=left>
CONTRACT
</td>
  <TD class=TableTextNote align=left>
14
</td>
  <TD class=TableTextNote align=left>
 Not Valid CONTRACT DIAL NO
</td>
</tr>
 <TR class=TableTextNote>
  <TD class=TableTextNote align=left>
CONTRACT
</td>
  <TD class=TableTextNote align=left>
15
</td>
  <TD class=TableTextNote align=left>
 Not Valid CONTRACT DIAL NO
</td>
</tr>
 <TR class=TableTextNote>
  <TD class=TableTextNote align=left>
CONTRACT
</td>
  <TD class=TableTextNote align=left>
16
</td>
  <TD class=TableTextNote align=left>
 Not Valid CONTRACT DIAL NO
</td>
</tr>
 <TR class=TableTextNote>
  <TD class=TableTextNote align=left>
CONTRACT
</td>
  <TD class=TableTextNote align=left>
17
</td>
  <TD class=TableTextNote align=left>
 Not Valid CONTRACT DIAL NO
</td>
</tr>
 <TR class=TableTextNote>
  <TD class=TableTextNote align=left>
CONTRACT
</td>
  <TD class=TableTextNote align=left>
18
</td>
  <TD class=TableTextNote align=left>
 Not Valid CONTRACT DIAL NO
</td>
</tr>
 <TR class=TableTextNote>
  <TD class=TableTextNote align=left>
CONTRACT
</td>
  <TD class=TableTextNote align=left>
19
</td>
  <TD class=TableTextNote align=left>
 Not Valid CONTRACT DIAL NO
</td>
</tr>
 <TR class=TableTextNote>
  <TD class=TableTextNote align=left>
CONTRACT
</td>
  <TD class=TableTextNote align=left>
20
</td>
  <TD class=TableTextNote align=left>
 Not Valid CONTRACT DIAL NO
</td>
</tr>
 <TR class=TableTextNote>
  <TD class=TableTextNote align=left>
CONTRACT
</td>
  <TD class=TableTextNote align=left>
21
</td>
  <TD class=TableTextNote align=left>
 Not Valid CONTRACT DIAL NO
</td>
</tr>
 <TR class=TableTextNote>
  <TD class=TableTextNote align=left>
CONTRACT
</td>
  <TD class=TableTextNote align=left>
22
</td>
  <TD class=TableTextNote align=left>
 Not Valid CONTRACT DIAL NO
</td>
</tr>
 <TR class=TableTextNote>
  <TD class=TableTextNote align=left>
CONTRACT
</td>
  <TD class=TableTextNote align=left>
23
</td>
  <TD class=TableTextNote align=left>
 Not Valid CONTRACT DIAL NO
</td>
</tr>
 <TR class=TableTextNote>
  <TD class=TableTextNote align=left>
CONTRACT
</td>
  <TD class=TableTextNote align=left>
24
</td>
  <TD class=TableTextNote align=left>
 Not Valid CONTRACT DIAL NO
</td>
</tr>
 <TR class=TableTextNote>
  <TD class=TableTextNote align=left>
CONTRACT
</td>
  <TD class=TableTextNote align=left>
25
</td>
  <TD class=TableTextNote align=left>
 Not Valid CONTRACT DIAL NO
</td>
</tr>
 <TR class=TableTextNote>
  <TD class=TableTextNote align=left>
CONTRACT
</td>
  <TD class=TableTextNote align=left>
26
</td>
  <TD class=TableTextNote align=left>
 Not Valid CONTRACT DIAL NO
</td>
</tr>
 <TR class=TableTextNote>
  <TD class=TableTextNote align=left>
CONTRACT
</td>
  <TD class=TableTextNote align=left>
27
</td>
  <TD class=TableTextNote align=left>
 Not Valid CONTRACT DIAL NO
</td>
</tr>
 <TR class=TableTextNote>
  <TD class=TableTextNote align=left>
CONTRACT
</td>
  <TD class=TableTextNote align=left>
28
</td>
  <TD class=TableTextNote align=left>
 Not Valid CONTRACT DIAL NO
</td>
</tr>
 <TR class=TableTextNote>
  <TD class=TableTextNote align=left>
CONTRACT
</td>
  <TD class=TableTextNote align=left>
29
</td>
  <TD class=TableTextNote align=left>
 Not Valid CONTRACT DIAL NO
</td>
</tr>
 <TR class=TableTextNote>
  <TD class=TableTextNote align=left>
CONTRACT
</td>
  <TD class=TableTextNote align=left>
30
</td>
  <TD class=TableTextNote align=left>
 Not Valid CONTRACT DIAL NO
</td>
</tr>
 <TR class=TableTextNote>
  <TD class=TableTextNote align=left>
CONTRACT
</td>
  <TD class=TableTextNote align=left>
31
</td>
  <TD class=TableTextNote align=left>
 Not Valid CONTRACT DIAL NO
</td>
</tr>
 <TR class=TableTextNote>
  <TD class=TableTextNote align=left>
CONTRACT
</td>
  <TD class=TableTextNote align=left>
32
</td>
  <TD class=TableTextNote align=left>
 Not Valid CONTRACT DIAL NO
</td>
</tr>
 <TR class=TableTextNote>
  <TD class=TableTextNote align=left>
CONTRACT
</td>
  <TD class=TableTextNote align=left>
33
</td>
  <TD class=TableTextNote align=left>
 Not Valid CONTRACT DIAL NO
</td>
</tr>
 <TR class=TableTextNote>
  <TD class=TableTextNote align=left>
CONTRACT
</td>
  <TD class=TableTextNote align=left>
34
</td>
  <TD class=TableTextNote align=left>
 Not Valid CONTRACT DIAL NO
</td>
</tr>
 <TR class=TableTextNote>
  <TD class=TableTextNote align=left>
CONTRACT
</td>
  <TD class=TableTextNote align=left>
35
</td>
  <TD class=TableTextNote align=left>
 Not Valid CONTRACT DIAL NO
</td>
</tr>
 <TR class=TableTextNote>
  <TD class=TableTextNote align=left>
CONTRACT
</td>
  <TD class=TableTextNote align=left>
36
</td>
  <TD class=TableTextNote align=left>
 Not Valid CONTRACT DIAL NO
</td>
</tr>
 <TR class=TableTextNote>
  <TD class=TableTextNote align=left>
CONTRACT
</td>
  <TD class=TableTextNote align=left>
37
</td>
  <TD class=TableTextNote align=left>
 Not Valid CONTRACT DIAL NO
</td>
</tr>
 <TR class=TableTextNote>
  <TD class=TableTextNote align=left>
CONTRACT
</td>
  <TD class=TableTextNote align=left>
38
</td>
  <TD class=TableTextNote align=left>
 Not Valid CONTRACT DIAL NO
</td>
</tr>
 <TR class=TableTextNote>
  <TD class=TableTextNote align=left>
CONTRACT
</td>
  <TD class=TableTextNote align=left>
39
</td>
  <TD class=TableTextNote align=left>
 Not Valid CONTRACT DIAL NO
</td>
</tr>
 <TR class=TableTextNote>
  <TD class=TableTextNote align=left>
Sheet
</td>
  <TD class=TableTextNote align=left>
4
</td>
  <TD class=TableTextNote align=left>
Sheet Serial Number 7000000 has no contracts
</td>
</tr>
